@font-face {
    font-family: InspireBold;
    src: url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Bold.woff2") format("woff2"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Bold.woff") format("woff"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Bold.otf") format("opentype")
}

@font-face {
    font-family: InspireRegular;
    src: url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Regular.woff2") format("woff2"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Regular.woff") format("woff"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-v02/Inspire-Regular.otf") format("opentype")
}

@font-face {
    font-family: InspireMini;
    src: url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-mini-v01/InspireMini-Regular.woff2") format("woff2"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-mini-v01/InspireMini-Regular.woff") format("woff"),url("https://config-cd-dmgz.bamgrid.com/static/assets/fonts/inspire/inspire-mini-v01/InspireMini-Regular.otf") format("opentype")
}

:root {
    --bkgd-gradient-black: #1a1d29;
    --bkgd-gradient-highlight: #143578;
    --primary-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background: var(--bkgd-gradient-black);
    margin: 0;
    overflow: hidden
}
body {
    font-family: InspireRegular, Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--bkgd-gradient-highlight);
    background: no-repeat bottom center / cover radial-gradient(
        circle at center bottom,
        var(--bkgd-gradient-highlight),
        var(--bkgd-gradient-black)
    );
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: InspireBold, Arial, Helvetica, sans-serif;
}

.fade {
    opacity: 0;
    animation: .75s ease-in-out 0s 1 forwards fadeInAnimation;
}
.fade-slide {
    opacity: 0;
    translate: -20px;
    animation: .75s ease-in-out 0.125s 1 forwards fadeSlideInAnimation;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    min-width: 320px;
    overflow: hidden;
    pointer-events: none;
}

.row-wrapper {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 255, 0, 0.5);
}

.row {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    padding: 0 10px 0;
}

.row-billboard {
    height: 220px;
}

.row-header {
    position: absolute;
    padding: 0 10px;
    margin: -5px 0 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.tile {
    flex-shrink: 0;
    position: relative;
    display: inline-flex;
    align-self: center;
    height: 144px;
    margin: 10px 10px 0 10px;
}
.tile.billboard {
    aspect-ratio: 3;
    height: 167px;
}
.tile.collection {
    aspect-ratio: 0.71;
}
.tile.grid {
    aspect-ratio: 16 / 9;
    height: 144px;
    max-width: 256px;
}

.tile img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.tile.focused {
    z-index: 1;
}

.tile.focused img {
    transform: scale(1.075);
}
.tile.focused img:first-of-type {
    box-shadow: 0 5px 10px 0px #48b;
    outline: 2px solid #fff;
}
.tile.focused:first-of-type img {
    transform: scale(1.075);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#modal.hidden,
.hidden {
    display: none;
}

#modal-content {
    position: relative;
    display: block;
    color: var(--primary-color);
    background: var(--bkgd-gradient-black);
    margin: auto;
    width: 80%;
}
.modal-content-body {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    margin: auto;
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 9% 1rem 0;
}

.modal-content-bkgd-image {
    position: absolute;
}

.modal-content-bkgd {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.background-image {
    background-size: contain;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.modal-content-title-treatment {
    display: block;
    width: 25%;
    aspect-ratio: 1.78;
}
.modal-content-title-treatment img {
    width: 100%;
}
.modal-content-metadata {
    padding-top: 2%;
    font-size: 3vw;
}
.modal-content-metadata span {
    display: inline-block;
}

.modal-content-ratings-availability {
    font-family: InspireBold, Arial, Helvetica, sans-serif;
}
.modal-content-release-tags {
    font-family: InspireMini, InspireRegular, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    letter-spacing: -0.1px;
    color: #aaa;
}

/* .modal-content-synopsis {} */

.modal-content-error-text {
    width: 50%;
    font-size: 2.2vw;
    padding: 0 1%;
    text-align: center;
}

.modal-content-error-text h2 {
    font-size: 4.4vw;
}

.error-background {
    background: white right center / contain no-repeat url("./error.webp");
    color: var(--bkgd-gradient-black);
}

@media (max-width: 575.98px) {
    .row-billboard {
        height: calc(85vw * (220 / 576) + 40px)
    }
    .row-grid {
        height: 180px;
    }
    .tile {
        margin: 0 8px;
    }
    .tile.grid {
        height: 108px;
        max-width: 192px;
    }
    .tile.billboard {
        width: 85vw;
        height: auto;
    }
}
@media (max-width: 320px) {
    .tile.billboard {
        width: 272px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeSlideInAnimation {
    0% {
        opacity: 0;
        translate: -20px;
    }
    100% {
        opacity: 1;
        translate: 0px;
    }
}